
<!DOCTYPE html>
<html>
<head>
<link href="style2.css" rel="stylesheet">
  
 <style type="text/css">

 body {

  /*background-image: url("/img/binary.jpg");*/
}
  
 .title {

   background-color: #4B515D;
    text-align:center;
    color: #fff;
    font-size: 200%;

}


tr {
  
  background-color: #f0f0f5;
  color: black;
  font-size: 120%;

}

th {
  
  background-color:  #4B515D;
  color: white;
  font-size: 120%;
}

/*tr:nth-child(odd) {
  background-color: white;
}
 */

</style>

</head>
<body>

<div style="width:100%;margin:10px auto;">
<br><br>
  <p class = "title">Academic Portal</p>
  <!-- <p>This is the student academic portal for student.id {{ctrl.id}}</p> -->

  <br><br>
  <div ng-show="ctrl.showSchedule();">
  	<table class="table">
  	<thead>
  		<tr>
      <th>Course #</th>
      <th>Name</th>
      <th>Section</th>
      <th>Room</th>
      <th>Days</th>
      <th>Time</th>
      <th>Instructor</th>
      </tr>
  	</thead>
  	<tbody>
  		<tr ng-repeat="_class in ctrl.schedule">
  		  <td ng-bind="_class.crn"></td>
        <td ng-bind="_class.class_id.department_id.code + ' ' + _class.class_id.num"></td>
        <td ng-bind="_class.sect"></td>
        <td ng-bind="_class.classroom_id.building_id.name + ' ' + _class.classroom_id.num"></td>
        <td>{{ctrl.print_days(_class.mon, _class.tues, _class.wed, _class.thurs, _class.fri, _class.sat, _class.onl);}}</td>
        <td>{{ctrl.parse_time(_class.begin_time, _class.end_time)}}</td>
        <td ng-bind="_class.instructor_id.first_name + ' ' + _class.instructor_id.last_name"></td>
        <!-- <td><button class="remove dash2 dash_btn">Withdraw</button></td> -->
  		</tr>
  	</tbody>
  	</table>
  </div>

  <a href="#/student">View Profile</a>&nbsp; &nbsp;
  <a href="#/student_transcript">View Transcript</a> &nbsp; &nbsp;
  <a href="#/student_audit">Audit</a> &nbsp; &nbsp;
  <a href="#/student_register">Register</a>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
</html>