<div style="width:50%;margin:10px auto;">
<h1>Student Details</h1>
<p>This is the student details page for student.id {{ctrl.id}}</p>
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">First Name</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="ctrl.student.first_name" id="student-first_name" readonly="readonly" />
		</div>
  	</div>
  	<div class="form-group row">
		<label for="student-last_name" class="col-xs-2 col-form-label">Last Name</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="ctrl.student.last_name" id="student-last_name" readonly="readonly" />
		</div>
  	</div>
  	<div class="form-group row">
		<label for="student-gpa" class="col-xs-2 col-form-label">GPA</label>
		 <div class="col-xs-10" ng-controller="PortalCtrl as p_ctrl">
		 	<input class="form-control" type="text" ng-model="p_ctrl.cumm_gpa" id="student-gpa" readonly="readonly" />
		</div>

  	</div>
  	<div class="form-group row">
  		<label for="student-first_semester" class="col-xs-2 col-form-label">First Semester</label>
  		<div class="col-xs-10">
  			<input class="form-control" type="text" ng-model="ctrl.student.first_semester.semester" id="student-first_semester" readonly="readonly" />
  		</div>
  	</div>

  	<div class="form-group row">
  		<label for="student-major" class="col-xs-2 col-form-label">Major</label>
  		<div class="col-xs-10">
  			<input class="form-control" type="text" ng-model="ctrl.student.major_id.name" id="student-major" readonly="readonly" />
  		</div>
  	</div>

	<a href="/#/student_portal">Return to academic portal</a>
  <br><br><br><br><br><br><br><br><br>
</div>