<!DOCTYPE html>
<html>
<head>
  <title></title>
<style>
body {

  background-image: url("/img/binary.jpg");
}
</style>
</head>
<body>
<div style="width: 100%;margin:10px auto;">
<br>
	<p class = "title">Instructor Listings</h1>
	<table class="table table-striped" >

	  <colgroup>
    <col style="width:   30%" />
    <col style="width:  30%" />
    <col style="width:  40%" />
  </colgroup>
  <tr>
		<thead>
			<tr>
			<th>Name</th>
			<th>Rank</th>
			<th>Department</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="instructor in ctrl.instructors">
			<td>{{instructor.first_name + " " + instructor.last_name}}</td>
			<td>{{ctrl.interpretIsTenured(instructor.is_tenured)}}</td>
			<td ng-bind="instructor.department_id.name"></td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>