<div style="width:50%;margin:10px auto;">
<h1>Class Details</h1>
<p>This is the class details page for class.id {{ctrl.id}}</p>
	<div class="form-group row">
		<label for="class-id" class="col-xs-2 col-form-label">ID</label>
		 <div class="col-xs-10">
		 	<input class="form-control" disabled="disabled" type="text" ng-model="ctrl.class.id" id="class-id">
		</div>
  	</div>
	<div class="form-group row">
  		<label for="class-department_id" class="col-xs-2 col-form-label">Department</label>
  		<div class="col-xs-10">
  			<select name="department_id" ng-model="ctrl.departments.selected" ng-options="obj.id as obj.name for obj in ctrl.departments"></select>
  		</div>
  	</div>
  	<div class="form-group row">
		<label for="class-num" class="col-xs-2 col-form-label">Number</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="ctrl.class.num" id="class-num">
		</div>
  	</div>
  	<div class="form-group row">
		<label for="class-name" class="col-xs-2 col-form-label">Name</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="ctrl.class.name" id="class-name">
		</div>
  	</div>
  	<div class="form-group row">
		<label for="class-credits" class="col-xs-2 col-form-label">Credits</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="ctrl.class.credits" id="class-credits">
		</div>
  	</div>
  	<div class="form-group row">
		<label for="class-description" class="col-xs-2 col-form-label">Description</label>
		 <div class="col-xs-10">
		 	<textarea class="form-control" rows="10" cols="50" ng-model="ctrl.class.description" id="class-description"></textarea>
		</div>
  	</div>

	<button type="button" class="btn btn-success" ng-click="ctrl.addClass(ctrl.class.id,ctrl.departments,ctrl.class.num,ctrl.class.name,ctrl.class.credits,ctrl.class.description)">Insert</button>
	&nbsp;
	<button type="button" class="btn btn-warning" ng-click="ctrl.updateClass(ctrl.class.id,ctrl.departments,ctrl.class.num,ctrl.class.name,ctrl.class.credits,ctrl.class.description)">Update</button>
	&nbsp;
	<button type="button" class="btn btn-danger" ng-click="ctrl.deleteClass(ctrl.class.id)">Delete</button>
	<button type="button" class="btn btn-default" ng-click="ctrl.clear(ctrl.class)">Clear</button>
	&nbsp;
</div>