<!DOCTYPE html>
<html>
<head>
  <title></title>
<style type="text/css">
  
 .title {

   background-color: #4B515D;
    text-align:center;
    color: #fff;
    font-size: 200%;

}


tr {
  
  background-color: #f0f0f5;
  color: black;
  font-size: 120%;

}

th {
  
  background-color:  #4B515D;
  color: white;
  font-size: 120%;
}

/*tr:nth-child(odd) {
  background-color: white;
}
 */

</style>


</head>
<body>
<div style="width:100%;margin:10px auto;">

<h1 class = "title">Classes for Major</h1>
<p>This is the class details page for the major.id {{ctrl.id}}</p>
	<table class="table table-striped" 

	 <colgroup>
    <col style="width:    33%" />
    <col style="width:  45%" />
    <col style="width:  15%" />
  </colgroup>
		<thead>
			<tr><th>Class</th><th>Name</th><th>Credits</th></tr>
		</thead>
		<tbody>
		<tr ng-repeat="class in ctrl.class_major">
			<td><a ng-href="{{ctrl.generateClassLink(class.id)}}">{{class.department_id.code + ' ' + class.num}}</a></td>
			<!-- <td ng-bind="class.department_id.code"></td>
			<td ng-bind="class.num"></td> -->
			<td ng-bind="class.name"></td>
			<td ng-bind="class.credits"></td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>