<!DOCTYPE html>
<html>
<head>
  <title></title>
<style>
body {

  background-image: url("/img/binary.jpg");
}
</style>
</head>
<body>
<div style="width: 100%;margin:10px auto;">
	<p class= "title">Class Listing</h1>
	<table class="table table-striped ">
		<colgroup>
    		<col style="width:  20%" />
    		<col style="width:  60%" />
    		<col style="width:  20%" />
  		</colgroup>
		<thead>
			<tr><th>Class</th><th>Name</th><th class="text-center">Credits</th></tr>
		</thead>
		<tbody>
		<tr ng-repeat="_class in ctrl.classes_by_department">
			<td><a ng-href="#/class/{{_class.id}}">{{_class.department_id.code + " " + _class.num}}</a></td>
			<td ng-bind="_class.name"></td>
			<td class="text-center" ng-bind="_class.credits"></td>
			<!-- <td><a href="#/_class/prereqs/{{class.id}}">Prerequisites</a></td> -->
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>